<div ng-controller="HomeController as vm">
	<div id="body-container" style="color:#000099;">
		<img src="http://www.felicity.us/images/header02.gif"/>

	<h1>{{vm.title}}</h1>
	<div id="content">
		<p style="font-family:serif;font-size:16px;"><b>The town of Felicity is dedicated to remembrance.</b></p>
		<p style="font-family:serif;font-size:16px;"><b>Our Museum.engraves in granite highlights of the collective memory of humanity.</b></p>
		<p style="font-family:serif;font-size:16px;color:#000099;"><u><b><a style='color:blue;' href='#'>Click to view</a> MUSEUM OF HISTORY IN GRANITE </b>at this World Commemorative Center</u></p>
		<a href="#"><img class="img-responsive" width='600' src="http://www.felicity.us/Gift%20to%20France_121.JPG"/></a>
		<a href="#"><img class="img-responsive" width='200' src="http://www.felicity.us/images/engrave_button.jpg"/></a>
		<p style="font-family:serif;font-size:16px;"><b>The tribute that endures ™</b></p>
		<p style="font-family:serif;font-size:12px;"><b>At this CENTRAL POINT FOR MEMORIES ®</b></p>

	</div>

	</div>
</div>
